<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/admin.css">
</head>
<body>
    
            <div class="back-button-container">
                <a href="/admin/dashboard" class="back-btn">Back</a>
            </div>
    <section class="container">

        <div class="form-text-container">
            <h1>Create New User</h1>
            <p class="success-msg"><%= message ? message :''  %></p>
            <p class="error-msg"><%= error ? error :''  %></p>
        </div>

        <div class="form-container">

            <form action="/admin/user/create" method="post">

                <div class="form-input">
                    <label for="username">@username</label>
                    <input type="text" placeholder="user_name" id="username" name="username" required>
                </div>

                <div class="form-input">
                    <label for="email">@email</label>
                    <input type="email" placeholder="email@k.com" id="email" name="email" required>
                </div>

                <div class="form-input">
                    <label for="email">password</label>
                    <input type="password" placeholder="password" id="password" name="password" required>
                </div>

                <div class="form-input">
                    <label for="isAdmin">isAdmin</label>
                    <select name="isAdmin" id="isAdmin" required>
                        <option value="false">not Admin</option>
                        <option value="true">isAdmin</option>
                    </select>
                </div>

                <div class="form-submit-container">
                    <button type="submit">Create</button>
                </div>

            </form>


        </div>

    </section>
</body>
</html>